/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: #111;
}

header {
  background: #020202;
  color: #f6f6f6;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #eaeaea;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #7185d6;
}

section {
  padding: 60px 20px;
}

.hero {
  background: url("/img/header.jpg") no-repeat center center/cover;
  color: #fbfbfb;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero .content {
  max-width: 800px;
}

.hero h1 {
  font-size: 3.2rem;
  animation: slideIn 1.5s ease-out;
}

.hero p {
  font-size: 1.3rem;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#o-mne {
  background: #0b0b0b;
  color: #fbfbfb;
  text-align: center;
  font-size: 1.05rem;
  margin-left: 10px;
  margin-right: 10px;
}

#projekty {
  background: #050505;
  color: #fbfbfb;
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects a {
  color: #7185d6;
  text-decoration: none;
}

.project-item {
  margin: 20px;
  width: calc(36.333% - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.project-item:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.project-item:hover img {
  transform: scale(1.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .project-item {
    width: calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .project-item {
    width: calc(100% - 40px);
  }
}
