/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background: #111;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#loading div {
  border: 8px solid #ebebeb;
  border-top: 8px solid #6071b7;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header {
  background: #020202;
  color: #f6f6f6;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #eaeaea;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #7185d6;
}

section {
  padding: 60px 20px;
}

.hero {
  background: url("/img/header.jpg") no-repeat center center/cover;
  color: #fbfbfb;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 2s ease-in-out;
  background-attachment: fixed;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero .content {
  max-width: 800px;
}

.hero h1 {
  font-size: 3.2rem;
  animation: slideIn 1.5s ease-out;
}

.hero p {
  font-size: 1.3rem;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.4s;
}

.modal-content {
  background: #2f2f2f;
  padding: 20px;
  border-radius: 8px 20px 8px 8px;
  max-width: 400px;
  width: 100%;
  color: #ffff;
}

.modal-close {
  background: #ad1515;
  color: #fff;
  border: none;
  padding: 11px;
  cursor: pointer;
  border-radius: 5px 10px;
  float: right;
  font-size: 17px;
}

#o-mne {
  background: #0b0b0b;
  color: #fbfbfb;
  text-align: center;
  font-size: 1.05rem;
  padding: auto;
}

#projekty {
  background: #050505;
  color: #fbfbfb;
  text-align: center;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #272728;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.2s;
}

.scroll-to-top.visible {
  opacity: 1;
  visibility: visible;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects a {
  color: #7185d6;
  text-decoration: none;
}

.project-item {
  margin: 20px;
  width: calc(33.333% - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.project-item:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.project-item:hover img {
  transform: scale(1.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .project-item {
    width: calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .project-item {
    width: calc(100% - 40px);
  }
}
